/*The header style*/
h1,h2,h3,h4{text-align: center;
            color: goldenrod;}

/*The paragraph style*/
p{font-family: cursive;
  font-size: 24px;
  color: darkgoldenrod;}

/*The body*/
body{background-image: url(Background_2.JPG);
     background-position: center;}

/*The NavBar*/
.topnav{overflow: hidden;
        background-color: black;
        font-size: 18px;}

/**/
.topnav a{float: left;
          display: block;
          color:#f2f2f2;
          text-align:center;
          padding:14px 16px;
          text-decoration:none;
          margin-left:10px;}

/*while hover*/
.topnav a:hover{background-color: gold;
                color: black;}
  
/*ul inside the NavBar*/
ul{list-style-type:none;
   border:3px white outset;}

/*the button*/
button{font-size: 20px;
       color: black;
       background-color: powderblue;}
