html {
	background:url('b.gif') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-a-background-size: cover;
	background-size: cover;
}
            
   
#head{color: darkturquoise;}  
span{color: red;}

.btn {
  background: linear-gradient(90deg, rgba(218, 50, 59, 0) 0%, rgba(137, 231, 219, 0.5) 25%, rgba(140, 228, 223, 0.5) 75%, rgba(116,211,124,0.00) 100%);
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
  width: 250px;
  height: 100px;
	 
}

.btn:hover {
	background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0,0,0,0.30) 25%, rgba(0,0,0,0.30) 75%, rgba(0,0,0,0.00) 100%);

}


.inside{
	margin-left: 20%;
	margin-right: 20%;
	height: 400px;
	overflow-y: scroll;
	
	
}   

#logo{border: solid 4px darkturquoise;
      border-radius: 100px;
      position:fixed; 
	    top:0; 
	    right:0;}

#mySidenav a {
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: bold;
    border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
    left: 0;
}

#home {
    top: 20px;
    background-color: darkturquoise;
}

#about {
    top: 80px;
    background-color: darkturquoise;
}

#labs {
    top: 140px;
    background-color: darkturquoise;
}

#projects {
    top: 200px;
    background-color: darkturquoise;
}


.shadow img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

footer {float: right;
       position: fixed;
       bottom:0; 
       color: aqua;
       text-align:right;
}