div{float: center;
    border:5px black solid;
    border-radius: 10px;
    text-align: left;
    font-size: 20px;
    background-color: antiquewhite;
    padding: 50px;
    margin: 100px;
    }

body{background-color: pink;}   


   
   

   